.container {
    position: relative;
   display:flex;
   flex-wrap: wrap;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 50px;
}

li a {
    background-color: #EA5B1B;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    
}

li a:hover {
    background-color: black;
    color: #D02B16;
    transition: 300ms ease-in-out;
    }

    .features{
        position: relative;
        background-color: #2e170c;
        width: 50%;
        height: 300px;
        left: 50%;
        transform: translateX(-50%);
    }

    h1 {position: relative;
        text-align: center;
       top: 100px;
    }
.headerContainer{
    flex-basis: 100%;
}
.reserved {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}

.reserved-car {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(193, 142, 58);
    background-color: #555555;
    padding: 30px;
}

.reservedContainer{
    display: flex;
    gap: 20px;
    margin: 100px 0;
    flex-basis: 92%;
    flex-wrap: wrap;
    justify-content: center;

}

.table {
    padding-left: 60px;
    position: absolute;
    left: 993px;
    top: 187px;
}

.table table {
    border: 4px solid rgb(193, 142, 58);
    
}

.table th {
    font-size: 16px;
    padding: 15px;
}

.total{
    border-top: 1px solid rgb(193, 142, 58);
    border-width: 2px;
}

.table td:first-child{
    text-align: center;
}

.trHeaders{
    border-bottom: 1px solid rgb(193, 142, 58);
    border-width: 2px;
}

.reserved-car img {
    width: 250px;
}

#reserved{
color: rgb(87, 221, 87);
}

#returned {
    color: rgb(244, 123, 82);
}

.reserved-car button {
    border: none;
    border-radius: 10px;
    background-color: #EA5B1B;
    color: aliceblue;
    padding: 15px 30px;
    text-transform: uppercase;
}

.reserved-car button:hover{
    background-color: #D02B16;
    transition: 300ms ease-in-out;
}


.infoUser{
    text-align: center;
    font-size: 20px;
    color: rgb(193, 142, 58);;
}



.ring
{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:150px;
  height:150px;
  background:transparent;
  border:3px solid #3c3c3c;
  border-radius:50%;
  text-align:center;
  line-height:150px;
  font-family:sans-serif;
  font-size:20px;
  color:rgb(193, 142, 58);
  letter-spacing:4px;
  text-transform:uppercase;
  text-shadow:0 0 10px rgb(193, 142, 58);
  box-shadow:0 0 20px rgba(0,0,0,.5);
}
.ring:before
{
  content:'';
  position:absolute;
  top:-3px;
  left:-3px;
  width:100%;
  height:100%;
  border:3px solid transparent;
  border-top:3px solid rgb(193, 142, 58);
  border-right:3px solid rgb(193, 142, 58);
  border-radius:50%;
  animation:animateC 2s linear infinite;
}
.loader
{
  display:block;
  position:absolute;
  top:calc(50% - 2px);
  left:50%;
  width:50%;
  height:4px;
  background:transparent;
  transform-origin:left;
  animation:animate 2s linear infinite;
}
.loader:before
{
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:rgb(193, 142, 58);
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px rgb(193, 142, 58);
}
@keyframes animateC
{
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}
@keyframes animate
{
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}