.top-offer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 100px 10%;
    flex-grow: 1;
    flex-shrink: 1;

}

.top-offer h1 {
    flex-basis: 100%;
    font-size: 40px;
    border-bottom: 4px solid #EA5B1B;
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 50px;
    color: #EA5B1B;
}

@media screen and (width < 1700px) {
    .resize{
        width: 35vw;
    }
}

@media screen and (width < 730px) {
    .resize{
        width: 80vw;
    }
}


