<header>
    <a routerLink="/varnacars" class="logo">
        <img src="{{imageSrc}}" alt="logo">
    </a>
    <nav class="header-nav">
        <ul>
            <li><a routerLink="varnacars/promo">PROMO PACKAGES</a></li>
            <li><a routerLink="/">TRANSFERS</a></li>
            <li><a routerLink="/">INFORMATION</a></li>            
            </ul>
        <li><a class="header-nav-reserve" routerLink="varnacars/allcars">RESERVE</a></li>
    </nav>
    <div class="header-links">
        <ul>
            <li class="phone-number">
                <a href="tel:+359891111111">+359 891 111 111</a>
            </li>
            <div class="header-links-icons">
                <li class="whatsup-number"><a href="https://wa.me/891111111" target="_blank" title="+359 891 111 111"><img src="{{whatsapp}}" alt="whatsapp" class="fa-brands fa-whatsapp"></a></li>
                <li class="viber-number"><a href="callto:+359 891 111 111" target="_top" title="+359 891 111 111"><img src="{{viberImg}}" alt="viber" class="fa-brands fa-viber"></a>
                </li>
                
            </div>
            <li class="btn-profile"><a routerLink="/login">My profile</a></li>
        </ul>
    </div>
    <div class="menu-triger">
        <a id="menuBtn" routerLink="/"><img src="{{bars}}" alt="menu" class="fa-solid fa-bars"></a>
    </div>
    <ul id="hidden-nav-bar" class="hidden-nav-bar">
        <li id="reserved"><a class="header-nav-reserve" routerLink="varnacars/allcars">RESERVE</a></li>
        <li><a routerLink="/">PROMO PACKAGES</a></li>
        <li><a routerLink="/">TRANSFERS</a></li>
        <li><a routerLink="/">INFORMATION</a></li>
        <li id="myprofile" class="btn-profile"><a routerLink="/login">My profile</a></li>
    </ul>
    
</header>
