.addVarForm {
    position: relative;
    width: 650px;
    height: auto;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #3e4443;
    box-shadow: 0px 0px 32px 0px #49535e, -14px -14px 20px #191c21;
    left: 50%;
    transform: translateX(-50%);
}

.container {
    padding: 40px;
}

.brand-logo {
    height: 100px;
    width: 100px;
    background: url("../../../assets/images/addNewCar.png");
    background-size: 100%;
    margin: auto;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}

.container>h1 {
    margin-top: 15px;
    font-weight: 900;
    font-size: 2.7rem;
    text-align: center;
    color: white;
    letter-spacing: 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 17px;
}

label,
input {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

label {
    margin-bottom: 8px;
    font-size: 27px;
    color: white;
    margin-top: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.is-invalid {
    border: 1px solid red;
    
}

.btn.submit:disabled{
    background-color: red;
    
}

.errorMessage{
    color: red;      
}

label:nth-of-type(2) {
    margin-top: 20px;
}

input::placeholder {
    color: rgba(184, 179, 179, 0.678);
}


label[for="female"] {
    margin-top: 10px;
}

input[type="text"],
input[type="number"]
 {
    background: #ecf0f3;
    padding: 30px;
    padding-left: 20px;
    height: 50px;
    margin-top: 10px;
    font-size: 24px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #c0c2c5, inset -6px -6px 6px white;
}

label[for="terms"]>input {
    display: inline;
}

.btn.submit {
    margin-top: 30px;
    background: #778e9c;
    height: 60px;
    border-radius: 20px;
    color: white;
    font-size: 26px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: 0.5s;
}

.btn.submit:hover {
    color: white;
    background-color: #8fa9b9;
}

.container {
    text-align: left;
    margin-top: 0px;
}

.field>span {
    position: absolute;
    font-size: 18px;
    bottom: 17px;
    right: 8px;
    text-decoration: none;
    color: black;
    background: #EA5B1B;
    border-radius: 10px;
    padding: 5px;
}


.ring
{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:150px;
  height:150px;
  background:transparent;
  border:3px solid #3c3c3c;
  border-radius:50%;
  text-align:center;
  line-height:150px;
  font-family:sans-serif;
  font-size:20px;
  color:rgb(193, 142, 58);
  letter-spacing:4px;
  text-transform:uppercase;
  text-shadow:0 0 10px rgb(193, 142, 58);
  box-shadow:0 0 20px rgba(0,0,0,.5);
}
.ring:before
{
  content:'';
  position:absolute;
  top:-3px;
  left:-3px;
  width:100%;
  height:100%;
  border:3px solid transparent;
  border-top:3px solid rgb(193, 142, 58);
  border-right:3px solid rgb(193, 142, 58);
  border-radius:50%;
  animation:animateC 2s linear infinite;
}
.loader
{
  display:block;
  position:absolute;
  top:calc(50% - 2px);
  left:50%;
  width:50%;
  height:4px;
  background:transparent;
  transform-origin:left;
  animation:animate 2s linear infinite;
}
.loader:before
{
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:rgb(193, 142, 58);
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px rgb(193, 142, 58);
}
@keyframes animateC
{
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}
@keyframes animate
{
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}