.top-offer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 100px 10%;
    

}

.top-offer h1 {
    flex-basis: 100%;
    font-size: 40px;
    border-bottom: 4px solid #EA5B1B;
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 50px;
    color: #EA5B1B;
}

.top-offer article {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 30%;
    border: 3px solid rgb(193, 142, 58);
}

.top-offer img {
    width: 100%;
}

.top-offer-price {
    width: 50%;
    background: rgb(193, 142, 58);
    background: linear-gradient(90deg, rgba(193, 142, 58, 1) 13%, rgba(245, 215, 132, 1) 100%);
    margin: 20px 0;
}

.top-offer-price:hover {
    background: linear-gradient(90deg, rgba(245, 215, 132, 1) 13%, rgba(193, 142, 58, 1) 100%);
    cursor: pointer;
}

.top-offer-price p {
    padding: 10px;
    text-align: center;
    font-size: 0.9rem;
    color: #D02B16;
}

.top-offer-price p::after {
    content: "$ / per day";
    font-size: 0.9rem;
}

.top-offer-model {
    font-size: 1.5vw;
    margin-top: 10px;
    margin-bottom: 5vw;
    color: #D02B16;
}

.top-offer-edit {
    background-color: #D02B16;
    color: rgb(193, 142, 58);
    border: none;
    padding: 10px 60px;
    letter-spacing: 2px;
    margin-bottom: 5px;
    font-weight: bold;
}

.top-offer-edit:hover {
    background-color: #008000;
    color: antiquewhite;
    transition: 300ms ease-in-out;
    cursor: pointer;

}

@media screen and (max-width: 900px) {
    .top-offer {        
        margin: 50px 10px;
    }

    .top-offer article {
       flex-basis: 30%;
        border: 2px solid rgb(193,142,58);
    }

    .top-offer-model{
        font-size: 16px;
    }

}

@media screen and (max-width: 600px) {
    .top-offer {       
        justify-content: center;
        margin: 50px 10px;
        gap: 30px;
    }

    .top-offer article {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 90%;
        border: 3px solid rgb(193,142,58);
    }

    .top-offer-model{
        font-size: 20px;
    }

    .top-offer h1 {
        font-size: 30px;
    }

    .top-text {
        display: none;
    }

}