* {
    box-sizing: border-box;
}

body {
    left: 50%;
}

.header, .main {
    margin-left: 50px;
    max-width: 1200px;
}

header {
    border-bottom: 2px solid rgb(0,0,0);
    display: flex;
    justify-content: space-between;
}

nav {
    align-self: center;
}

ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 153, 0);
}