.top-offer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
    margin: 100px 10%;
    flex-shrink: 1;
    flex-direction: column;
    border: 3px solid rgb(193, 142, 58);
    align-items: center;
}

.top-offer-img {
    flex-basis: 40%;
}
.top-offer img{
    width: 100%;
}

.top-offer-price {
    width: 50%;
    background: rgb(193, 142, 58);
    background: linear-gradient(90deg, rgba(193, 142, 58, 1) 13%, rgba(245, 215, 132, 1) 100%);
   }

.top-offer-price:hover {
    background: linear-gradient(90deg, rgba(245, 215, 132, 1) 13%, rgba(193, 142, 58, 1) 100%);
    cursor: pointer;
}

.top-offer-price p {
    padding: 10px;
    text-align: center;
    font-size: 0.9rem;
    color: #D02B16;
}

.top-offer-price p::after {
    content: "$ / per day";
    font-size: 0.9rem;
}

.top-offer-model {
    font-size: 1.5vw;
    margin-top: 10px;
    margin-bottom: 5vw;
    color: #D02B16;
}


