 <div class="searchContainer">
     <form class="searchCar" >
        <button (click)="allItems()">ALL CARS</button>
         <input id="search" type="text" placeholder="search for your dream car...">
         <button (click)="findCar()">SEARCH</button>
     </form>
 </div>
 
<div class="carContainer" *ngIf="!isLoading; else loadingIndicator">

    <article  class="carTemlate" *ngFor="let car of allCars">
        <div class="carTemlate-img">
            <img [src]="car.images" alt="ix-rental">
            <span>{{car.price}} $/day</span>
        </div>
        <div class="carName">
            <p>{{car.carName}} - {{car.carModel}}</p>
        </div>
        <div class="carInfo">
            <p>it's a ultimate sports car experience</p>
        </div>
        <div class="carOverview">
            <div>
                <h6>Transmission</h6>
                <p>{{car.transmision}}</p>
            </div>
            <div>
                <h6>doors</h6>
                <p>{{car.doors}}</p>
            </div>
            <div>
                <h6>seats</h6>
                <p>{{car.seets}}</p>
            </div>
        </div>
        <div class="buttons" id="{{car.objectId}}">
            <button *ngIf="isLoged && !admin"  class="reserve" (click)="reserveCar($event)">Reserve Now</button>
            <button *ngIf="isLoged"  class="addFavorite" (click)="viewDetails($event)" >Details</button>
            <button *ngIf="admin" class="edit"   (click)="editCar($event)">EDIT</button>
            <button class="reserve" *ngIf="!isLoged" routerLink="/login">LogIn for more options</button>
        </div>
    </article>   
</div>

<ng-template #loadingIndicator>
    <div class="ring">Loading
        <span class="loader"></span>
      </div>
</ng-template>



