<div>

<h1>For Speed, Power and Status</h1>
<p>This love for modifying cars for speed and power has now developed to what we see today. With Nissan Patrols modified
    to have over 2000 horsepower, and suspension that could handle wild road in Bulgaria and jumps that most wouldn’t
    dare drive over,
    these off-road vehicles you see today are a substantial part of the Bulgarian culture. </p>

<iframe width="939" height="528" src="https://www.youtube.com/embed/V12C6xuMwmE" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>

<p>You may have seen the video from the popular show “The Grand Tour”, in which the world was exposed to the immense
    degree of modifications that people are capable of doing to their cars, when they raced a Porsche 918 Spyder (one of
    the world quickest, most exotic, hybrid-hypercars in the world) against a <span (click)="findNissan()">Nissan Patrol</span>. </p>

<p>In this race, the Nissan actually pulls away from the Porsche, leaving it for dust in its tracks. This left the hosts
    shocked at the capabilities of the car they thought had absolutely no chance against the Porsche for 750 000 euro. This
    just goes to show how much we loves their cars, and the extent they push their engines to.</p>
    

</div>