div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    margin-left: 20vw;
    background-color: rgb(77, 74, 74);
    padding: 20px;
}

div p {
    color: #FFFFFF
}

iframe {
    width: 60vw; 
    height: 35vw;   
    margin: 20px 0;   
    }

    span {
        color: #EA5B1B;
        }

        span:hover{
            cursor: pointer;
            text-decoration: underline;
            font-weight: bold;
        }