.container {
    position: relative;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 50px;
}

li a {
    background-color: #EA5B1B;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    
}

li a:hover {
    background-color: black;
    color: #D02B16;
    transition: 300ms ease-in-out;
    }

    .features{
        position: relative;
        background-color: #2e170c;
        width: 50%;
        height: 300px;
        left: 50%;
        transform: translateX(-50%);
    }

    h1 {position: relative;
        text-align: center;
       top: 100px;
    }

.reserved {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    margin: 100px 200px;
    
}

.reserved-car {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(193, 142, 58);
    background-color: #555555;
    padding: 30px;
}

.reserved-car img {
    width: 250px;
}

.reserved-car button {
    border: none;
    border-radius: 10px;
    background-color: #EA5B1B;
    color: aliceblue;
    padding: 15px 30px;
    text-transform: uppercase;
}

.reserved-car button:hover{
    background-color: #D02B16;
    transition: 300ms ease-in-out;
}


.infoUser{
    text-align: center;
    font-size: 20px;
    color: rgb(193, 142, 58);;
}



.ring
{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:150px;
  height:150px;
  background:transparent;
  border:3px solid #3c3c3c;
  border-radius:50%;
  text-align:center;
  line-height:150px;
  font-family:sans-serif;
  font-size:20px;
  color:rgb(193, 142, 58);
  letter-spacing:4px;
  text-transform:uppercase;
  text-shadow:0 0 10px rgb(193, 142, 58);
  box-shadow:0 0 20px rgba(0,0,0,.5);
}
.ring:before
{
  content:'';
  position:absolute;
  top:-3px;
  left:-3px;
  width:100%;
  height:100%;
  border:3px solid transparent;
  border-top:3px solid rgb(193, 142, 58);
  border-right:3px solid rgb(193, 142, 58);
  border-radius:50%;
  animation:animateC 2s linear infinite;
}
.loader
{
  display:block;
  position:absolute;
  top:calc(50% - 2px);
  left:50%;
  width:50%;
  height:4px;
  background:transparent;
  transform-origin:left;
  animation:animate 2s linear infinite;
}
.loader:before
{
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  border-radius:50%;
  background:rgb(193, 142, 58);
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px rgb(193, 142, 58);
}
@keyframes animateC
{
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}
@keyframes animate
{
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}

@media screen and (width < 780px){
  .container ul{
    gap: 10px;
  }
}

.is-invalid {
  border: 2px solid red;
}

#editUserForms{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  margin-top: 30px;
  width: 60vw;
  margin-left: 20vw;
}

#editUserForms p {
    width: fit-content;
    color: #D02B16;
    font-size: 2rem;
}

#editUserForms form {
  flex-basis: 100%;
  display: flex;
  gap: 20px;
}

#editUserForms form div{
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
}

#editUserForms form input{
  border: none;
  border-radius: 10px;
  background-color: grey;
  padding-left: 20px;
}



#editUserForms form input:focus{
outline: none;
border: 2px solid #EA5B1B;
}

small {
  color: red;
}

#editUserForms button{
  width: 120px;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  background-color: #EA5B1B;
}

#editUserForms button:hover{
  background-color: #b74612;
}

#editUserForms button:disabled{
  background-color: #555555;
  color: #FFFFFF;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}

.updateError {
position: fixed;
right: 200px;
top: 150px;
background-color: red;
color: white;
padding: 10px 20px;
font-size: 20px;
}