<div class="container" *ngIf="admin">
    <p class="infoUser">Welcome back Boss, you have 3 new e-mails.
    <ul>
        <li><a routerLink="/varnacars/newcar">Add new car</a></li>
        <li><a routerLink="/varnacars/allcars">List All Cars</a></li>
        <li><a routerLink="/" (click)="logout()">Logout</a></li>

    </ul>
    <div class="features">
        <h1>More Admin option</h1>
    </div>
</div>
<div *ngIf="!isLoading; else loadingIndicator">
    <div *ngIf="!admin">
        <p class="infoUser">Welcome back {{activeUser.username | titlecase}}, now you have {{totalCars}} reserved
            cars.
        </p>
        <p class="infoUser">Total cost per day: {{totalCosts}} $</p>
        <ul>
            <li><a href="">Show history</a></li>
            <li><a routerLink="/" (click)="logout()">Logout</a></li>
        </ul>
    </div>

    <div class="reserved" *ngIf="reservedCars">
        <article class="reserved-car" *ngFor="let car of reservedCars">
            <h3>{{car.carName}} {{car.carModel}}</h3>
            <img src="{{car.images}}" alt="">
            <p class="carPrice">{{car.price}}$/day</p>
            <button>remove</button>
        </article>
    </div>
</div>

<ng-template #loadingIndicator>
    <div class="ring">Loading
        <span class="loader"></span>
    </div>
</ng-template>