@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

h1,h2,h3 {
    font-family: Monserrat, sans-serif;
}

p {
    font-family: Poppins, sans-serif;
    color: rgb(172, 172, 172);
}

body {
    position: relative;
    max-width: 1400px;
}

main {
    display: inline-block;
    max-width: 48%;
    font-size: 0.9rem;
}

aside {
    display: inline-block;
    max-width: 48%;
}

section {
    position: relative;
}

section div {
    display: inline-block;
}

section div.pic {
    max-width: 80px;
    
}

section div.pic img {
    width: 100%;
}

section p {
    margin-top: -8px;
}

.info {
    position: absolute;
    top: -5px;
    left: 90px;
}
