<section id="login-page" class="auth">
    <form id="login" [formGroup]="loginFormGroup" >

        <div class="container">
            <div class="brand-logo"></div>
            <h1>Login</h1>
            <p *ngIf="errorMsg" class="errorMessage">{{errorMsg}}</p>
            <label for="email">Email:</label>
            <input type="email" formControlName="email" [class.input-error]="loginFormGroup.controls['email'].touched && loginFormGroup.controls['email'].invalid" name="password" name="email" placeholder="Sokka@gmail.com">
            <ng-container *ngIf="loginFormGroup.controls['email'].touched && loginFormGroup.controls['email'].invalid">
                <small class="errorMessage" *ngIf="loginFormGroup.controls['email'].errors?.['required']">Email is
                    required!</small>
                <small class="errorMessage" *ngIf="!loginFormGroup.controls['email'].errors?.['required'] && loginFormGroup.controls['email'].errors?.['email']">Invalid email!</small>
            </ng-container>


            <label for="password">Password:</label>
            <input formControlName="password" type="password" [class.input-error]="loginFormGroup.controls['password'].touched && loginFormGroup.controls['password'].invalid" name="password">
            <ng-container
                *ngIf="loginFormGroup.controls['password'].touched && loginFormGroup.controls['password'].invalid">
                <p class="errorMessage" *ngIf="loginFormGroup.controls['password'].errors?.['required']">Password
                    required!</p>
                <p class="errorMessage" *ngIf="loginFormGroup.controls['password'].errors?.['minlength']">Password must
                    be min 6
                    characters!</p>
            </ng-container>

            <input [disabled]="loginFormGroup.invalid" type="button" class="btn submit" value="Login" (click)="onSubmit()">
            <p class="field">
                <span>If you don't have profile click <a routerLink="/register"
                        routerLinkActive="active">here</a></span>
            </p>
        </div>
    </form>
</section>