footer {
    position:relative;
    bottom:0;
    
    text-align: center;
    padding-bottom: 20px;
    color: #EA5B1B;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 200px;
}

.info{
    flex-basis: 100%;
}

.footer{
    display: inline-block;
    padding-left: 10px;
     background-color: red;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
    }

i{
    color: white;
}
